.box1{
    width: 100px;
    height: 100px;
    color: red;
}
.box2{
    width: 100px;
    height: 100px;
    color: blue;
}
.box3{
    width: 300px;
    height: 100px;
    color: green;
}