
.box1{
    width: 100px;
    height: 100px;
    color: red;
    border-bottom-right-radius: ;
}
.box2{
    width: 100px;
    height: 100px;
    color: blue;
}
.box3{
    width: 300px;
    height: 100px;
    color: green;
}

.box1
.box2
.box3{
    width: 100px;
    height: 100px;
    border-color: black;
    border-spacing: 2px;
    padding: 5px;
}

.anyad{
    margin-top: auto;
    border: 4px;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-color: black;
    border-spacing: 2px;
    
}